@import url('https://fonts.googleapis.com/css?family=Merriweather|Petit+Formal+Script|Open+Sans&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

header{
    background-color: #b8d4e9;
    display: block;
    height: 100px;
    margin: 0;
    overflow: hidden;
}

#logo{
    float: left;
    font-family: 'Petit Formal Script';
    font-size: 250%;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

#nav-links{
    list-style: none;
    float: right;
    font-family: 'Open Sans', sans-serif;
}

#nav-links li{
    float: left;
    margin-right: 20px;
    font-size: 150%;
}


#logo, #nav-links{
    line-height: 100px;
}

#hero-image{
    display: inline-block;
    background: url("/assets/images/food-3808953_1920.jpg") no-repeat center center;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    clear: both;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-us{
    text-align: center;
}

#menu-header{
    text-align: center;
}

#tagline{
    background-color: black;
    margin: auto;
    padding: 20px;
    font-family: 'Merriweather';
    color: #b8d4e9;
}

h2 {
    font-family: 'Merriweather', 'Times New Roman', serif;
}

.mission-statement, .day-info {
    border: black solid 1px;
}

footer{
    height: 250px;
    background-color: black;
    color: #b8d4e9;
}