header{
    background-color: aquamarine;
    clear: both;
    border: black 1px solid;
}

#logo{
    float: left;
}

#nav-links{
    list-style: none;
    float: right;
}

#nav-links li{
    float: left;
    margin-right: 20px;
}

#logo, #nav-links{
    line-height: 75px;
}

#hero-image{
    display: block;
}