body{
    margin: 0 auto;
}

header{
    background-color: aquamarine;
    clear: both;
}

#logo{
    float: left;
}

#nav-links{
    list-style: none;
    float: right;
}

#nav-links li{
    float: left;
    margin-right: 20px;
}

